<%- include('adminDashboardHeader.ejs') %>

    <div class="row m-2">
        <% supervisors.forEach(supervisor=> { %>

            <div class="card mb-3 col-5 m-2">
                <div class="card-body">
                    <span>
                        <h4 class="card-title "><i class="fas fa-user-tie"></i>
                            <%=supervisor.first_name%>
                                <%=supervisor.last_name%>
                                    </h5>
                    </span>
                    <p class="card-text"><br><strong>Faculty: </strong>
                        <%=supervisor.faculty%> <br>
                            <strong>Address: </strong>
                            <%=supervisor.address%>
                    </p>

                </div>
            </div>
            <% }); %>
    </div>

    <%- include('../dashboardFooter.ejs') %>