<%- include('examinerDashboardHeader.ejs') %>
<form  method = 'POST' action = '/examiner/search'>
<div class="input-group mb-3">
    <input type="text" max = "50" class="form-control" placeholder="Search For Thesis" aria-label="Recipient's username" aria-describedby="searchButton" name = "searchTerm" required id = "searchTerm">
    <button class="btn view-btn " type="submit" id="searchButton" style="color: white;"> Search </button>
  </div>
</form>
  <div class="row m-2">
    <% if (typeof theses !== 'undefined') { %>
      <% theses.forEach(thesis=> { %>
        <div class="card mb-3 col-5 m-2">
          <div class="card-body">
            <span>
              <h4 class="card-title "><i class="fas fa-graduation-cap"></i>
                <%=thesis.title%>
                  </h5>
            </span>
            <p class="card-text">
              <br>
              <strong>Field: </strong>
              <%=thesis.field%>
                <br>
                <strong>Type: </strong>
                <% if (thesis.type) { %>
                  Phd
                  <% } else { %>
                    Master
                    <% } %>
                      <br>
                      <br>
                      <button type="button" class="btn btn-primary view-btn" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop<%=thesis.serial_number%>">
                        <i class="fas fa-info"></i> More Info
                  </button>
                      <div class="modal fade" id="staticBackdrop<%=thesis.serial_number%>" data-bs-backdrop="static"
                        tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="">
                                <%=thesis.title%>
                              </h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <table class="table table-striped table-bordered">
                                <tr>
                                  <td><i class="far fa-lightbulb"></i> Field </td>
                                  <td>
                                    <%=thesis.field%>
                                  </td>
                                </tr>
                                <tr>
                                  <td> <i class="fas fa-university"></i> Type</td>
                                  <td>
                                    <% if (thesis.type) { %>
                                      Phd
                                      <% } else { %>
                                        Master
                                        <% } %>
                                  </td>
                                </tr>
                                <tr>
                                  <td><i class="fas fa-calendar-day"></i> Start Date</td>
                                  <td>
                                    <%= moment(thesis.start_date).format('Do MMMM, YYYY') %>
                                  </td>
                                </tr>
                                <tr>
                                  <td><i class="fas fa-calendar-day"></i> End Date</td>
                                  <td>
                                    <%= moment(thesis.end_date).format('Do MMMM, YYYY') %>
                                  </td>
                                </tr>
                                <tr>
                                  <td> <i class="far fa-clock"></i> Duration</td>
                                  <td>
                                    <%= thesis.duration %> days
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <i class="fas fa-calendar-day"></i> Seminar Date
                                  </td>
                                  <td>
                                    <%= moment(thesis.seminar_date).format('Do MMMM, YYYY') %>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <i class="fad fa-list"></i> Number of Extensions
                                  </td>
                                  <td>
                                    <%= thesis.number_of_extensions %>
                                  </td>
                                </tr>
                              </table>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
          </div>
        </div>
        <% }); }%>
  </div>
<%- include('../dashboardFooter.ejs') %>