<%- include('studentDashboardHeader.ejs', {isGucian : isGucian}) %> 

<div class="row m-2">
  <% reports.forEach(report=> { %>
  <div class="card mb-3 col-4 m-2">
    
  <div class="card-body">
      <span>
        <h4 class="card-title "><i class="fas fa-book-open"></i>
          <%=report.title%> <%= moment(report.report_date).format('Do MMMM, YYYY')%>
          </h5>
      </span>
      <p class="card-text">
        <br>
        <strong>State : </strong>
        <%= report.state %>
        <br>
        <br>
        <button type="button" class="btn btn-primary view-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= report.report_number %><%= report.thesis_serial_number %>">
          <i class="fas fa-info"></i> More Info
        </button>
        <button type="button" class="btn btn-primary view-btn" data-bs-toggle="modal" data-bs-target="#exampleModal<%= report.report_number %><%= report.thesis_serial_number %>">
         <i class="fas fa-file-signature"></i> fill report
        </button>
        <!-- Modal -->
      <div class="modal fade" id="staticBackdrop<%= report.report_number %><%= report.thesis_serial_number %>" data-bs-backdrop="static"  tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="">
                <%=report.title%> <%= moment(report.report_date).format('Do MMMM, YYYY')%>
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
        <table class="table table-striped table-bordered">
          <tr>
            <td>Belongs to: </td>
            <td><%=report.title%></td>
          </tr>
          <tr>
            <td>Description :</td>
            <td><%= report.description %></td>
          </tr>
          <tr>
            <td>State :</td>
            <td><%= report.state %></td>
          </tr>
        </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Report Modal -->
<div class="modal fade" id="exampleModal<%= report.report_number %><%= report.thesis_serial_number %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Fill Progress Report</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/student/<%= report.thesis_serial_number %>/<%= report.report_number%>/report">
          <div class="mb-3">
            <label for="report-state" class="col-form-label">State :</label>
            <br>
            <input type="range" class="form-control-range" id="report-state" name="state" onInput="$('#rangeval').html($(this).val())">
             <span id="rangeval">50<!-- Default value --></span>
          </div>
          <div class="mb-3">
            <label for="report-description" class="col-form-label">Description :</label>
            <textarea class="form-control" id="report-description" rows="3" name="description"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
  <% }); %>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<%- include('../dashboardFooter.ejs') %>
