<%- include('studentDashboardHeader.ejs', {isGucian : isGucian}) %> 

<div class="row m-2">
  <% theses.forEach(thesis=> { %>
  <div class="card mb-3 col-4 m-2">
    <div class="card-body">
      <span>
        <h4 class="card-title "><i class="fas fa-graduation-cap"></i>
          <%=thesis.title%>
          </h5>
      </span>
      <p class="card-text">
        <br>
        <strong>Field: </strong>
        <%=thesis.field%>
        <br>
        <strong>Type: </strong>
        <% if (thesis.type) { %>
        PHD
        <% } else { %>
        MASTER
        <% } %>
        <br>
        <br>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= thesis.serial_number %>">
          more info
        </button>
        <button type="button" class='btn btn-primary' data-bs-toggle="modal" data-bs-target="#exampleModalReport<%= thesis.serial_number %>">
            <i class="far fa-plus-square"></i>
            <span class="mx-2">Add Progress Report</span>
        </button>

        <!-- Thesis Modal -->
      <div class="modal fade" id="staticBackdrop<%= thesis.serial_number %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">
                <%=thesis.title%>
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <strong>Field: </strong>
              <%=thesis.field%>
              <br>
              <strong>Type: </strong>
              <% if (thesis.type) { %>
              PHD
              <% } else { %>
              MASTER
              <% } %>
              <br>
              <strong>Start Date: </strong>
              <%= moment(thesis.start_date).format('Do MMMM, YYYY') %>
              <br>
              <strong>End Date: </strong>
              <%= moment(thesis.end_date).format('Do MMMM, YYYY') %>
              <br>
              <strong>Duration: </strong>
              <%= thesis.duration %> days
              <br>
              <strong>Seminar Date: </strong>
              <%= moment(thesis.seminar_date).format('Do MMMM, YYYY') %>
              <br>
              <strong>Number Of Extensions: </strong>
              <%= thesis.number_of_extensions %>
              <br>
              <strong>Grade: </strong>
              <%= thesis.grade %> / 100
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Reprt Modal -->
<div class="modal fade" id="exampleModalReport<%= thesis.serial_number %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Progress Report</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/student/<%= thesis.serial_number %>/report">
          <div class="mb-3">
            <label for="report-date" class="col-form-label">Report Date :</label>
            <input type="date" class="form-control" id="report-date" name="date">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
  <% }); %>
</div>

<%- include('../dashboardFooter.ejs') %>
